#sub_title {
    position: relative;
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
#rate {
    position: relative;
    margin-top: 30px;
    width: 100%;
    font-size: 15px;
    text-align: center;
}